<!DOCTYPE html>
<html>

<head>
    <title></title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="design.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- <script src="products.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    </script>

</head>

<body>
    <div id="app">
        <header>
            <h1 v-text="sitename"></h1>
            <button v-if="cart.length > 0" v-on:click='showCheckout'> {{cart.length}} <span
                        class="fas fa-cart-plus"></span>Cart
                    </button> <br>

        </header>


        <div class="container">
            <div class="root">
                <!-- sorting -->
                <aside>
                    <h4>Sort by</h4>
                    <ul>
                        <li><button v-on:click="type = 'subject'">Subject</button></li>
                        <li><button v-on:click="type = 'price'">Price</button></li>
                        <li><button v-on:click="type = 'Location'">Location</button></li>
                    </ul>
                    <br>
                    <div class="search-wrapper">
                        <input v-on:input="filteredList" class="form-control" type="text" v-model="search" placeholder="Search title.." />
                        <label>Search Subject:</label>
                    </div>
                </aside>
                <main>
                    <div v-if='!showProduct'>
                        <div class="title-bar">
                            <h1>Lessons</h1>
                            <select v-model="sort" id="sortby">
                                <option value="ascending">Ascending</option>
                                <option value="descending">Descending</option>
                            </select>
                        </div>

                        <!-- lessons-->
                        <div class="lessons">
                            <div v-for="(lessons, index) in sortedLessons" :key="`lesson--${index}`" class="lessons__item">
                                <h2>
                                    <p>Subject: {{ lessons.subject }}</p>
                                </h2>
                                <figure>
                                    <img v-bind:src="lessons.image" width="250" height="200">
                                </figure>
                                <p>Location: {{ lessons.location }}</p>
                                <p>Price: {{ lessons.price }}</p>
                                <p>Spaces: {{lessons.space}}</p>
                                <button v-on:click='addToCart(lessons)' :disabled="!lessons.space">Add to cart</button>
                                <span v-if="lessons.space">{{'Left '+ lessons.space}}</span>
                                <span v-else>This lesson is fully booked!</span>
                            </div>
                        </div>
                    </div>
                    <div v-else>
                        <div class="container">
                            <!-- calculation-->
                            <div class="title-bar">
                                <button v-on:click="showCheckout"><span class="fas fa-arrow-left"></span> Previous page</button>
                                <h4>Total Amount: {{total}}</h4>
                            </div>
                            <!-- cart-->
                            <h4>Your cart</h4>
                            <div class="cart">
                                <div class="cart__item">
                                    <div style="width: auto;">Image</div>
                                    <div>Subject</div>
                                    <div>Location</div>
                                    <div>Price</div>
                                </div>
                                <hr style="width: 100%">
                                <div class="cart__item" v-for="(item, index) in cart" :key="`cart--${index}`">
                                    <div style="width: auto;"><img :src="item.image" alt=""></div>
                                    <div>{{item.subject}}</div>
                                    <div>{{item.location}}</div>
                                    <div>{{item.price}}</div>
                                    <div style="width: auto;"><button v-on:click="removeFromCart(item)" class="fa fa-minus-square" aria-hidden="true"></button></div>
                                </div>
                                <div v-if="!cart.length > 0" class="cart__item" style="background-color: transparent; padding: 20px;">
                                    <div style="text-align: center; color: grey; font-size: 20px; font-weight: bold;">
                                        List Empty</div>
                                </div>
                            </div>
                            <hr>
                            <div>
                                <h3>Student Details</h3>
                                <div>
                                    <label for="name">Your Name</label>
                                    <input v-model="user.name" type="text" required>
                                </div>
                                <div>
                                    <label for="name">Phone Number</label>
                                    <input v-model="user.number" type="tel" required>
                                </div>
                                <div>
                                    <label for="name">User Id</label>
                                    <input v-model="user.id" type="tel" required>
                                </div>
                                <div>
                                    <label for="name">Space</label>
                                    <input v-model="user.space" type="tel" required>
                                </div>
                                <input type="submit" @click="submit" value="Checkout">
                            </div>
                        </div>
                    </div>
            </div>
            </main>
        </div>
    </div>
    </div>
    <script type="text/javascript">
        const webstore = new Vue({
            el: '#app',
            data: {
                search: '',
                sitename: 'Classic University',
                lessons: [],
                cart: [],
                showProduct: false,
                order: {
                    firstName: '',
                    lastName: '',
                },
                sort: 'ascending',
                type: '',
                user: {
                    name: '',
                    number: ''
                }
            },

            async created() {
                let course = await fetch("https://https-github-com-shahzaib962-pets-backend.onrender.com/lesson")
                let result = await course.json()
                this.lessons = result
                console.log(result)
            },
            methods: {
                // filteredList() {
                //     fetch(`http://localhost:3000/lesson/search?key_word=${this.search}`)
                //         .then(response => response.json())
                //         .then(data => {
                //             this.lessons = data;
                //         })
                //         .catch(error => {
                //             console.error(error);
                //         });
                // },
                filteredList() {
                    fetch(`https://https-github-com-shahzaib962-pets-backend.onrender.com/collection/lesson/search?key_word=${this.search}`)
                        .then(response => response.json())
                        .then(data => {
                            this.lessons = data;
                        })
                        .catch(error => {
                            console.error(error);
                        });
                },

                // addToCart(lesson) {
                //     this.lessons.find(item => item.id == lesson.id).space -= 1;
                //     this.cart.push({
                //         cartId: (this.cart.length + 1),
                //         ...lesson
                //     });
                // },
                addToCart(lesson) {
                    const lessonIndex = this.lessons.findIndex(item => item.id === lesson.id);
                    if (lessonIndex !== -1 && this.lessons[lessonIndex].space > 0) {
                        this.lessons[lessonIndex].space -= 1;
                        this.cart.push({
                            cartId: this.cart.length + 1,
                            ...lesson
                        });
                    }
                },
                removeFromCart(lesson) {
                    if (confirm('You are about to delete this!')) {
                        this.cart = [...this.cart].filter(item => item.cartId != lesson.cartId)
                    }
                },
                showCheckout() {
                    this.showProduct = !this.showProduct;
                },
                submit() {
                    let orders = {
                        checkoutName: this.user.name,
                        checkoutPhone: this.user.number,
                        cartProduct: this.cart,
                    };

                    fetch("https://https-github-com-shahzaib962-pets-backend.onrender.com/collection/order", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                            },
                            mode: "cors",
                            cache: "no-store",
                            body: JSON.stringify(orders),
                        })
                        .then(response => response.json())
                        .then(data => {
                            console.log("Order submitted:", data);
                            alert(data.message);
                            // Handle the response data here (e.g., show a success message)
                        })
                        .catch(error => {
                            console.log("Error submitting order:", error);
                            // Handle the error here (e.g., show an error message)
                        });
                }
            },
            computed: {
                total() {
                    return this.cart.length > 0 ? this.cart.map(item => item.price).reduce((acc, cur) => acc + cur) : 0;
                },
                sortedLessons() {
                    switch (this.type) {
                        case 'subject':
                            return this.lessons.sort((a, b) => {
                                switch (this.sort) {
                                    case 'ascending':
                                        return a.subject.toUpperCase() > b.subject.toUpperCase() ? 1 : -1;
                                    default:
                                        return a.subject.toUpperCase() < b.subject.toUpperCase() ? 1 : -1;
                                }
                            })
                        case 'location':
                            return this.lessons.sort((a, b) => {
                                switch (this.sort) {
                                    case 'ascending':
                                        return a.location.toUpperCase() > b.location.toUpperCase() ? 1 : -1;
                                    default:
                                        return a.location.toUpperCase() < b.location.toUpperCase() ? 1 : -1;
                                }
                            })
                        case 'price':
                            return this.lessons.sort((a, b) => {
                                return this.sort == 'ascending' ? a.price - b.price : b.price - a.price;
                            })
                        case 'space':
                            return this.lessons.sort((a, b) => {
                                return this.sort == 'ascending' ? a.space - b.space : b.space - a.space;
                            })
                        default:
                            return this.lessons.sort((a, b) => {
                                return this.sort == 'ascending' ? a.id - b.id : b.id - a.id;
                            })
                    }
                }
            }
        });
    </script>
</body>

</html>
